
.hello{
    color: blue;
}

.active{
    color: tomato;
}

.hidden{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*가운데 정렬*/

fieldset{
    background-color: rgba( 255, 255, 255, 0.5 );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}/*색 및 위치조정*/

.bg{
   position: relative;
}